[Unit]
After=tailscaled.service

[Service]
WorkingDirectory=/opt/homeassistant_edenic
ExecStart=/opt/homeassistant_edenic/venv/bin/python3 ./edenic_mqtt.py
Restart=always
StandardOutput=append:/opt/homeassistant_edenic/edenic.log
StandardError=inherit
SyslogIdentifier=edenic
User=fu
Group=fu

[Install]
WantedBy=multi-user.target
